@model MvcStock.Models.Entity.Categories
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>You can update datas in this stage...</h2>

@using (Html.BeginForm("Updatee","Categories", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.CategoriesId)
        @Html.TextBoxFor(m=>m.CategoriesId,new {@class= "form-control"})
        <br />
        @Html.LabelFor(m=>m.CategoriesName)
        @Html.TextBoxFor(m=>m.CategoriesName, new{@class= "form-control"})

    </div>
    <div>
        <button class="btn btn-warning">Save Changes</button>
    </div>
}


